@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmWUlvAw.ttf) format('truetype');
}
@page {
  size: A4 landscape;
  margin: 5mm;
}
* {
  font-family: 'Roboto', sans-serif;
}
/**************************************************************************/
/* Clubs ******************************************************************/
/**************************************************************************/
.club {
  break-after: always;
}
.club h1 {
  line-height: 1.5cm;
  font-size: 30pt;
  margin: 0 0 1mm;
  padding: 0;
  text-align: center;
  color: var(--primary-color);
}
.club h1::before {
  content: '';
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  float: left;
  width: 1.5cm;
  height: 1.5cm;
}
.club .group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.club .group:not(:first-of-type) {
  break-inside: avoid;
}
.club .group h2 {
  width: 100%;
  color: var(--primary-color);
  margin: 1mm 0;
  padding: 0;
  line-height: 1cm;
  font-size: 15pt;
  text-align: center;
}
/**************************************************************************/
/* Profil *****************************************************************/
/**************************************************************************/
.person {
  position: relative;
  width: 8cm;
  height: 3cm;
  margin: 2.5mm 5mm;
  box-sizing: border-box;
  border-radius: 1.5cm 5mm 5mm 1.5cm;
  overflow: hidden;
  background-color: var(--primary-color);
  color: var(--on-primary-color);
  border-style: solid;
  border-width: 1mm;
  border-color: var(--primary-color);
  break-inside: avoid;
}
.person a {
  color: var(--on-primary-color);
  text-decoration: none;
}
.person object,
.person object svg {
  border-radius: 50%;
  width: 2.8cm;
  height: 2.8cm;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.person figcaption {
  font-size: 10pt;
  line-height: 1.2;
  margin-left: 3cm;
  padding: 1mm;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  box-sizing: border-box;
}
.person figcaption h3,
.person figcaption strong {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  text-align: center;
  display: block;
}
.person figcaption h3 {
  font-size: 14pt;
  align-items: center;
  font-weight: normal;
}
.person figcaption strong {
  font-size: 10pt;
  flex: 1;
}
.no-credentials .person figcaption {
  justify-content: center;
}
.no-credentials .person figcaption h3 {
  flex: 1;
}
.no-credentials .person figcaption strong {
  align-items: center;
}
